src/main/resources/vinnsl/schema/description.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           vc:minVersion="1.1" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">

    <xs:include schemaLocation="VinnslType.xsd"/>

    <xs:element name="description">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="identifier" type="xs:string"/>
                <xs:element name="metadata">
                    <xs:complexType>
                        <xs:sequence>
                            <!--paradigm keywords-->
                            <xs:element name="paradigm" type="xs:string"/>
                            <!--network name given by the creator-->
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="description" type="xs:string"/>
                            <xs:element name="version">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="major" type="xs:integer"/>
                                        <xs:element name="minor" type="xs:integer"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="creator">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="contact" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="problemDomain">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="propagationType">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="learningType">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="definedconstructed"/>
                                                    <xs:enumeration value="trained"/>
                                                    <xs:enumeration value="supervised"/>
                                                    <xs:enumeration value="unsupervised"/>
                                                    <xs:enumeration value="linear"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="type" type="propa"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="applicationField" maxOccurs="unbounded">
                                <xs:simpleType>
                                    <xs:union>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="AccFin"/>
                                                <xs:enumeration value="HealthMed"/>
                                                <xs:enumeration value="Marketing"/>
                                                <xs:enumeration value="Retail"/>
                                                <xs:enumeration value="Insur"/>
                                                <xs:enumeration value="Telecom"/>
                                                <xs:enumeration value="Operations"/>
                                                <xs:enumeration value="EMS"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[A-Za-z]*"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:union>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="networkType">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Hopfield"/>
                                        <xs:enumeration value="CNN"/>
                                        <xs:enumeration value="ART"/>
                                        <xs:enumeration value="Backpropagation"/>
                                        <xs:enumeration value="Cascade-Correlation"/>
                                        <xs:enumeration value="Kohonen"/>
                                        <xs:enumeration value="Counterpropagation"/>
                                        <xs:enumeration value="Perceptron"/>
                                        <xs:enumeration value="Linear-Associator"/>
                                        <xs:enumeration value="Jordan-Net"/>
                                        <xs:enumeration value="Elman-Net"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="problemType">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Classifiers"/>
                                        <xs:enumeration value="Approximators"/>
                                        <xs:enumeration value="Memory"/>
                                        <xs:enumeration value="Optimisation"/>
                                        <xs:enumeration value="Clustering"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <!--  <xs:assert
                              test="((propagationType/@type = 'feedback' and propagationType/learningType = 'definedconstructed' and (networkType = 'Hopfield' or networkType = 'CNN')) or (propagationType/@type = 'feedback' and propagationType/learningType = 'trained' and networkType = 'ART') or (propagationType/@type = 'feedforward' and propagationType/learningType = 'supervised' and (networkType = 'Backpropagation' or networkType = 'Cascade-Correlation')) or (propagationType/@type = 'feedforward' and propagationType/learningType = 'unsupervised' and (networkType = 'Counterpropagation' or networkType = 'Kohonen')) or (propagationType/@type = 'feedforward' and propagationType/learningType = 'linear' and (networkType = 'Linear-Associator' or networkType = 'Perceptron')) or (propagationType/@type = 'recurrent' and propagationType/learningType = 'supervised' and (networkType = 'Jordan-Net' or networkType = 'Elman-Net')) and count(networkType) = 1 and count(propagationType/learningType) = 1 and count(propagationType/@type) = 1)"
                          />-->
                    </xs:complexType>
                </xs:element>
                <xs:element name="endpoints">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="train" type="xs:boolean"/>
                            <xs:element name="retrain" type="xs:boolean"/>
                            <xs:element name="evaluate" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="executionEnvironment" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="serial" type="xs:boolean" fixed="true"/>
                            <xs:element name="parallel" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="software">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="control">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="transputer">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="version"
                                                                                              type="xs:string"
                                                                                              use="required"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="data">
                                                        <xs:complexType>
                                                            <xs:choice>
                                                                <xs:element name="topological">
                                                                    <xs:complexType>
                                                                        <xs:choice>
                                                                            <xs:element name="pipelining">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="systolicarr">
                                                                                            <xs:complexType>
                                                                                                <xs:simpleContent>
                                                                                                    <xs:extension
                                                                                                            base="xs:string">
                                                                                                        <xs:attribute
                                                                                                                name="version"
                                                                                                                type="xs:string"
                                                                                                                use="required"/>
                                                                                                    </xs:extension>
                                                                                                </xs:simpleContent>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="coarsestruct">
                                                                                <xs:complexType>
                                                                                    <xs:choice>
                                                                                        <xs:element name="connmachine">
                                                                                            <xs:complexType>
                                                                                                <xs:simpleContent>
                                                                                                    <xs:extension
                                                                                                            base="xs:string">
                                                                                                        <xs:attribute
                                                                                                                name="version"
                                                                                                                type="xs:string"
                                                                                                                use="required"/>
                                                                                                    </xs:extension>
                                                                                                </xs:simpleContent>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element name="maspar">
                                                                                            <xs:complexType>
                                                                                                <xs:simpleContent>
                                                                                                    <xs:extension
                                                                                                            base="xs:string">
                                                                                                        <xs:attribute
                                                                                                                name="version"
                                                                                                                type="xs:string"
                                                                                                                use="required"/>
                                                                                                    </xs:extension>
                                                                                                </xs:simpleContent>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:choice>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="finestruct">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="connmachine">
                                                                                            <xs:complexType>
                                                                                                <xs:simpleContent>
                                                                                                    <xs:extension
                                                                                                            base="xs:string">
                                                                                                        <xs:attribute
                                                                                                                name="version"
                                                                                                                type="xs:string"
                                                                                                                use="required"/>
                                                                                                    </xs:extension>
                                                                                                </xs:simpleContent>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:choice>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="structural">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="spmd">
                                                                                <xs:complexType>
                                                                                    <xs:choice>
                                                                                        <xs:element name="hypercube">
                                                                                            <xs:complexType>
                                                                                                <xs:simpleContent>
                                                                                                    <xs:extension
                                                                                                            base="xs:string">
                                                                                                        <xs:attribute
                                                                                                                name="version"
                                                                                                                type="xs:string"
                                                                                                                use="required"/>
                                                                                                    </xs:extension>
                                                                                                </xs:simpleContent>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element name="cluster">
                                                                                            <xs:complexType>
                                                                                                <xs:simpleContent>
                                                                                                    <xs:extension
                                                                                                            base="xs:string">
                                                                                                        <xs:attribute
                                                                                                                name="version"
                                                                                                                type="xs:string"
                                                                                                                use="required"/>
                                                                                                    </xs:extension>
                                                                                                </xs:simpleContent>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element name="gpgpu">
                                                                                            <xs:complexType>
                                                                                                <xs:simpleContent>
                                                                                                    <xs:extension
                                                                                                            base="xs:string">
                                                                                                        <xs:attribute
                                                                                                                name="version"
                                                                                                                type="xs:string"
                                                                                                                use="required"/>
                                                                                                    </xs:extension>
                                                                                                </xs:simpleContent>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element name="multicore">
                                                                                            <xs:complexType>
                                                                                                <xs:simpleContent>
                                                                                                    <xs:extension
                                                                                                            base="xs:string">
                                                                                                        <xs:attribute
                                                                                                                name="version"
                                                                                                                type="xs:string"
                                                                                                                use="required"/>
                                                                                                    </xs:extension>
                                                                                                </xs:simpleContent>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:choice>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="hardware">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="general" type="parametervalue"/>
                                                    <xs:element name="special" type="parametervalue"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="structure">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="input">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ID" type="xs:string"/>
                                        <xs:element name="dimension">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="min" type="minno1"/>
                                                    <xs:element name="max" type="minno1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="size">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="min" type="minno1"/>
                                                    <xs:element name="max" type="minno1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="hidden" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ID" type="xs:string"/>
                                        <xs:element name="dimension">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="min" type="minno1"/>
                                                    <xs:element name="max" type="minno1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="size">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="min" type="minno1"/>
                                                    <xs:element name="max" type="minno1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="output" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ID" type="xs:string"/>
                                        <xs:element name="dimension">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="min" type="minno1"/>
                                                    <xs:element name="max" type="minno1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="size">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="min" type="minno1"/>
                                                    <xs:element name="max" type="minno1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="connections">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="fullconnected"/>
                                        <xs:enumeration value="shortcuts"/>
                                        <xs:enumeration value="mixed"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="parameters">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="valueparameter" type="xs:string" maxOccurs="unbounded"/>
                            <xs:element name="boolparameter" type="xs:string" maxOccurs="unbounded"/>
                            <xs:element name="comboparameter" type="xs:string" maxOccurs="unbounded"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="data">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="description" type="xs:string"/>
                            <xs:element name="tabledescription" type="xs:string" minOccurs="0"/>
                            <xs:element name="filedescription" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
